In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import random
from random import sample

In [2]:

ID=[1,20,44,32,56,90]
time=['10:20:00','08:50:20','21:10:00','10:24:00','08:53:10','21:8:00']  
city=['London','Berlin','Paris','Rome','Berlin','Paris']  
transport=['car','air plane','train','car','air plane','train']   
df=pd.DataFrame({'id':ID,'time':time,'city':city,'transport':transport})
print(df)

   id      time    city  transport
0   1  10:20:00  London        car
1  20  08:50:20  Berlin  air plane
2  44  21:10:00   Paris      train
3  32  10:24:00    Rome        car
4  56  08:53:10  Berlin  air plane
5  90   21:8:00   Paris      train

In [3]:
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
    return hour,minutes,seconds

def get_sec(h,m,s):
    """Get Seconds from time."""
    if h==np.empty:
        h=0
    if m==np.empty:
        m=0
    if s==np.empty:
        s=0
    #print(h,m,s)
    return int(h) * 3600 + int(m) * 60 + int(s)    

df['time']=df['time'].apply(lambda x: datetime.strptime(x,'%H:%M:%S') if isinstance(x,str) else x )

df=df.sort_values(by=["time"])
print(df)

prev_hour=np.empty
prev_minute=np.empty
prev_second=np.empty
for key,item in df.iterrows():
    #print(item)
    curr_hour=item.time.hour
    curr_minute=item.time.minute
    curr_second=item.time.second
    curr_id=item.id
    curr_seconds=get_sec(curr_hour,curr_minute,curr_second)
    prev_seconds=get_sec(prev_hour,prev_minute,prev_second)
    diff_seconds=curr_seconds-prev_seconds
    hour,minute,second=convert(diff_seconds)
    if (hour==0) & (minute <=3):
        df.loc[key,'id']=prev_id
    prev_hour=item.time.hour
    prev_minute=item.time.minute
    prev_second=item.time.second
    prev_id=item.id
    
print(df)

   id                time    city  transport
1  20 1900-01-01 08:50:20  Berlin  air plane
4  56 1900-01-01 08:53:10  Berlin  air plane
0   1 1900-01-01 10:20:00  London        car
3  32 1900-01-01 10:24:00    Rome        car
5  90 1900-01-01 21:08:00   Paris      train
2  44 1900-01-01 21:10:00   Paris      train
   id                time    city  transport
1  20 1900-01-01 08:50:20  Berlin  air plane
4  20 1900-01-01 08:53:10  Berlin  air plane
0   1 1900-01-01 10:20:00  London        car
3  32 1900-01-01 10:24:00    Rome        car
5  90 1900-01-01 21:08:00   Paris      train
2  90 1900-01-01 21:10:00   Paris      train

In [8]:
data = np.array([['','day1','day2','day3','day4','day5'],
                ['larry',1,4,7,3,5],
                ['niko',2,-1,3,np.nan,4],
                ['tin',np.nan,5,5, 6,7]])
                
df = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])

#print(data[1:,1:])
#print(data[0,1:])
#print(data[1:,0])
print(df.head())

      day1 day2 day3 day4 day5
larry    1    4    7    3    5
niko     2   -1    3  nan    4
tin    nan    5    5    6    7

In [9]:


columns=df.columns
#0 if x[column]==np.nan else x[column] for column in columns
for key,item in df.iterrows():
    for column in columns:
        if item[column]=='nan':
            df.loc[key,column]=0

[df[column].astype(int) for column in columns if column!='']
print(df)
df['all_attendance']=0
for key,row in df.iterrows():
    found=0
    for value in row[columns]:
        if value==0:
            found=1
            break

    if found==1:
        df.loc[key,'all_attendance']=0
    else:
        df.loc[key,'all_attendance']=1
            
print(df)

      day1 day2 day3 day4 day5
larry    1    4    7    3    5
niko     2   -1    3    0    4
tin      0    5    5    6    7
      day1 day2 day3 day4 day5  all_attendance
larry    1    4    7    3    5               1
niko     2   -1    3    0    4               0
tin      0    5    5    6    7               0

In [10]:
ColumnA=['Rick','Tim']  
ColumnB=['3-1,4-5,9-8','6-3,1-2,1.3,5.8,7-9']

df=pd.DataFrame({'columnA':ColumnA,'columnB':ColumnB})

print(df.head())

Mapping_dict= {'3-1':'1','4-5':2,'9-8':3,
'6-3':4,'1-2':5,'1.3':6,'5.8':'7','7-9':'8'}

def lookup(columnString):
    elements=columnString.split(",")
    mylist=[str(Mapping_dict[element]) for element in elements]
    #print(mylist)
    retVal=",".join(mylist)
    return retVal

df['columnB_new']=df['columnB'].apply(lambda x: lookup(x))
print(df)

  columnA              columnB
0    Rick          3-1,4-5,9-8
1     Tim  6-3,1-2,1.3,5.8,7-9
  columnA              columnB columnB_new
0    Rick          3-1,4-5,9-8       1,2,3
1     Tim  6-3,1-2,1.3,5.8,7-9   4,5,6,7,8

In [6]:
def sum_fractions(fractionList):
    sum=0
    for numerator,denominator in fractionList:
        sum+=numerator/denominator
    return int(sum)
print(sum_fractions([[11, 2], [3, 4], [5, 4], [21, 11], [12, 6]]))
print(sum_fractions([[11, 2], [3, 4], [5, 4], [21, 11], [12, 6]])==11)

11
True

In [7]:
id=[1,1,1,2,3,3,3]
time=[0,1,2,2,0,1,2]
x=[14,32,52,12,62,82,22]
y=[12,23,14,34,17,35,25]

df=pd.DataFrame({'id':id,'time':time,'x':x,'y':y})
df.reset_index()
df2=df.copy()
df['x2']=0
df['y2']=0


for key,item in df.iterrows():

    lookup=(item['time']+2) 
    filter=(df['time']==lookup) & (df['id']==item['id'])
    results=df[filter]
    if len(results)>0:
        row=results.iloc[0]
        x2=row.x
        y2=row.y
        df.loc[key,['x2','y2']]=(x2,y2)
    
print(df) 
print("\n")
df3=df2.copy()
df3['time'] = df3.apply(lambda x: x['time']+2, axis=1)
results=df3[['id','time','x','y']].merge(df2[['id','time','x','y']],on=['id','time'],how="left",suffixes=('', '2')).fillna(0)
print(results)


#df2[['x2','y2']]=df2[df2['time_lkup']==df2['time']][['x','y']]
#print(df2)

   id  time   x   y  x2  y2
0   1     0  14  12  52  14
1   1     1  32  23   0   0
2   1     2  52  14   0   0
3   2     2  12  34   0   0
4   3     0  62  17  22  25
5   3     1  82  35   0   0
6   3     2  22  25   0   0


   id  time   x   y    x2    y2
0   1     2  14  12  52.0  14.0
1   1     3  32  23   0.0   0.0
2   1     4  52  14   0.0   0.0
3   2     4  12  34   0.0   0.0
4   3     2  62  17  22.0  25.0
5   3     3  82  35   0.0   0.0
6   3     4  22  25   0.0   0.0

In [8]:
df1=pd.read_csv('merge_a.csv')
df2=pd.read_csv('merge_b.csv')
print(df2.head())

initDF = pd.read_csv("merge_a.csv", sep=",", header=0) 
file2 = "merge_b.csv" 
for chunks in pd.read_csv(file2, sep=",", chunksize=50, header=0): 
    print(chunks)
    initDF = initDF.merge(chunks, how='inner', on=['contig'])

print(initDF)

                contig   coverage
0  ERR1726751_contig_1  28.827160
1  ERR1726751_contig_2  12.265934
2  ERR1726751_contig_3  17.733767
                contig   coverage
0  ERR1726751_contig_1  28.827160
1  ERR1726751_contig_2  12.265934
2  ERR1726751_contig_3  17.733767
Empty DataFrame
Columns: [clusterID, kegg_contig, contig, coverage]
Index: []

In [9]:
df = pd.DataFrame({'company':['a','b','c','b'], 'partner':['x','x','y','y'], 'str':['just','some','random','words']})
fp=df.pivot_table(index=['company'],columns=['partner'],aggfunc=any).fillna(False)
print(fp.head())
print(df)
columns=df.columns
print(columns)
records=list(df.to_records(index=False))
print(records)
df=pd.DataFrame.from_records(records,columns=[columns])
print(df)
#fp=results_df.pivot(columns='variable',values='value')
#print(fp)

           str
partner      x      y
company
a         True  False
b         True   True
c        False   True
  company partner     str
0       a       x    just
1       b       x    some
2       c       y  random
3       b       y   words
Index(['company', 'partner', 'str'], dtype='object')
[('a', 'x', 'just'), ('b', 'x', 'some'), ('c', 'y', 'random'), ('b', 'y', 'words')]
  company partner     str
0       a       x    just
1       b       x    some
2       c       y  random
3       b       y   words

In [10]:
data = [{'key1': 'k1', 'key2': 'k2', 'keyn': 'kn', 'type': 'p1', 'val1': 1, 'val2': 2, 'valn': 7}, {'key1': 'k1', 'key2': 'k2', 'keyn': 'kn', 'type': 'p2', 'val1': 6, 'val2': 1, 'valn': 5}, {'key1': 'k1', 'key2': 'k2', 'keyn': 'kn', 'type': 'p3', 'val1': 8, 'val2': 4, 'valn': 1}, {'key1': 'k3', 'key2': 'k2', 'keyn': 'kn', 'type': 'p1', 'val1': 4, 'val2': 6, 'valn': 9}, {'key1': 'k3', 'key2': 'k2', 'keyn': 'kn', 'type': 'p2', 'val1': 6, 'val2': 1, 'valn': 0}, {'key1': 'k3', 'key2': 'k2', 'keyn': 'kn', 'type': 'p3', 'val1': 1, 'val2': 2, 'valn': 8}]
df = pd.DataFrame(data)
print(df)
results=pd.melt(df,value_vars=['val1','val2','valn'],id_vars=['key1','key2','keyn','type'])
results=results.sort_values(by=['key1','key2','keyn','type'])
print(results)
fp=results.pivot(index=['key1','key2','keyn','type'],columns=['variable'],values=['value'])
#fp = fp[(fp.T != 0).any()]
print(fp)

  key1 key2 keyn type  val1  val2  valn
0   k1   k2   kn   p1     1     2     7
1   k1   k2   kn   p2     6     1     5
2   k1   k2   kn   p3     8     4     1
3   k3   k2   kn   p1     4     6     9
4   k3   k2   kn   p2     6     1     0
5   k3   k2   kn   p3     1     2     8
   key1 key2 keyn type variable  value
0    k1   k2   kn   p1     val1      1
6    k1   k2   kn   p1     val2      2
12   k1   k2   kn   p1     valn      7
1    k1   k2   kn   p2     val1      6
7    k1   k2   kn   p2     val2      1
13   k1   k2   kn   p2     valn      5
2    k1   k2   kn   p3     val1      8
8    k1   k2   kn   p3     val2      4
14   k1   k2   kn   p3     valn      1
3    k3   k2   kn   p1     val1      4
9    k3   k2   kn   p1     val2      6
15   k3   k2   kn   p1     valn      9
4    k3   k2   kn   p2     val1      6
10   k3   k2   kn   p2     val2      1
16   k3   k2   kn   p2     valn      0
5    k3   k2   kn   p3     val1      1
11   k3   k2   kn   p3     val2      2
17   k3   k2   kn   p3     valn      8
                    value
variable             val1 val2 valn
key1 key2 keyn type
k1   k2   kn   p1       1    2    7
               p2       6    1    5
               p3       8    4    1
k3   k2   kn   p1       4    6    9
               p2       6    1    0
               p3       1    2    8

In [11]:
L1 = [['ID1', ('key1a','key1b','key1c'), ('value1a','value1b','value1c')],
      ['ID2', ('key2a','key2b','key2c'), ('value2a','value2b','value2c')]]
df1 = pd.DataFrame(L1,columns=['ID','Key','Value'])
tuples=[]
for key,item in df1.iterrows():
    id=item['ID']
    for i in range(len(item['Key'])):
        key=item["Key"][i]
        value=item['Value'][i]
        tuples.append((id,key,value))
        
print(tuples)        
df=pd.DataFrame.from_records(tuples,columns=['ID','Key','Value'])    
print(df)
#df=pd.DataFrame({'ID':id,'Key':key,'Value':value})
#print(df)
#print(df1.head())

[('ID1', 'key1a', 'value1a'), ('ID1', 'key1b', 'value1b'), ('ID1', 'key1c', 'value1c'), ('ID2', 'key2a', 'value2a'), ('ID2', 'key2b', 'value2b'), ('ID2', 'key2c', 'value2c')]
    ID    Key    Value
0  ID1  key1a  value1a
1  ID1  key1b  value1b
2  ID1  key1c  value1c
3  ID2  key2a  value2a
4  ID2  key2b  value2b
5  ID2  key2c  value2c

In [12]:
defaultDict={0: [[1.0, 2.0, 3.0], [7.0, 8.0, 9.0]], 1: [[4.0, 5.0, 6.0], [10.0, 11.0, 12.0]]}
#print(type(defaultDict))
#print(defaultDict)


paths=[]
def walk_the_tree(inputDict,parent_index=None):
    if isinstance(inputDict,dict):
        for key, value in inputDict.items():
            #print(key,value)
            if isinstance(value,list):
                ret_index,type,result=walk_the_tree(value,key)
                print(key, ret_index, type, result)
    elif isinstance(inputDict,list):
        #print("List",inputDict)
        sum=0
        for index,alist in enumerate(inputDict):
            #print(index,alist)
            ret_index,type,value=walk_the_tree(alist,index)
            if type=="Sum List":
                print ("replace value",parent_index, index, value)
                defaultDict[parent_index][index]=value
            print(type,value)
            if type=="Leaf":
                sum+=value
        return index,"Sum List",sum
        #walk_the_tree(inputDict)
    else:
        return 0,"Leaf", inputDict
    return

walk_the_tree(defaultDict)

print(defaultDict)
#json_specs = {}
#for path in paths:
#    parts=path.split(':')
#    value=(parts[-1])
#    d=json_specs
#    for p in parts[:-1]:
#        #print(p)
#        if p==parts[-2]:
#            d = d.setdefault(p,value)
#            #print(value)
#        else:
#            d = d.setdefault(p,{})
#print(json_specs)

Leaf 1.0
Leaf 2.0
Leaf 3.0
replace value 0 0 6.0
Sum List 6.0
Leaf 7.0
Leaf 8.0
Leaf 9.0
replace value 0 1 24.0
Sum List 24.0
0 1 Sum List 0
Leaf 4.0
Leaf 5.0
Leaf 6.0
replace value 1 0 15.0
Sum List 15.0
Leaf 10.0
Leaf 11.0
Leaf 12.0
replace value 1 1 33.0
Sum List 33.0
1 1 Sum List 0
{0: [6.0, 24.0], 1: [15.0, 33.0]}

In [41]:
data = [(datetime(2021, 2, 6, 18, 48, 18, 97962), u'London', u'New York', u'UPLOAD_LOW'), (datetime(2021, 2, 6, 18, 48, 18, 97962), u'Berlin', u'Tokyo', u'DOWNLOAD_HIGH'), (datetime(2021, 2, 6, 18, 47, 8, 209495), u'Paris', u'Toronto', u'DROP_LOW')]
df=pd.DataFrame(data,columns=['date','source','destination','issue']).reset_index().fillna(0)
#print(df)
issue_short_form_map = {
        "UPLOAD": "UP",
        "MEMORY": "MEM",
        "DOWNLOAD": "DN"
}
mylist=df['issue'].apply(lambda row: row.split("_"))
mylist=[issue_short_form_map.get(x[0],x[0])+"_"+str(x[1]) for x in mylist]    
df['issue']=mylist
print(df)

   index                       date  source destination     issue
0      0 2021-02-06 18:48:18.097962  London    New York    UP_LOW
1      1 2021-02-06 18:48:18.097962  Berlin       Tokyo   DN_HIGH
2      2 2021-02-06 18:47:08.209495   Paris     Toronto  DROP_LOW

In [74]:
id=[1,2,3]
name=['jane doe','john doe','john smith']
position=['position_1','position_2','position_3']
df=pd.DataFrame({'id':id,'name':name,'position':position,})
group_1 = ['position_3', 'position_18', 'position_45']
group_2 = ['position_2', 'position_9']
group_7 = ['position_1']
dct = {'group_1': group_1, 'group_2': group_2, 'group_7': group_7}
def lookup(itemParam):
    keys=[]
    for key,item in dct.items():
        if itemParam in item:
            keys.append(key)
    return keys
mylist=[*map(lookup,df['position'])]
mylist=[x[0] for x in mylist]
df['group']=mylist
print(df.head())
#print(dct)

   id        name    position    group
0   1    jane doe  position_1  group_7
1   2    john doe  position_2  group_2
2   3  john smith  position_3  group_1

In [149]:
dct2={0:[{'a':1,'b':2},{'a':3,'b':4}] ,
     1:[{'a':4,'b':5},{'a':4,'b':1}] ,
     2:[{'a':3,'b':6},{'a':5,'b':4}] 
     }
df=pd.DataFrame(dct2)
df=df.T
df=df.rename(columns={0:'a^',1:'b^'})
df=df.reset_index()
print(df)

for key,row in df.iterrows():
    df.loc[key,'a^']=str(row['a^']['a'])+","+str(row['b^']['a'])
    df.loc[key,'b^']=str(row['a^']['b'])+","+str(row['b^']['b'])
print(df)

dct={0:{'a':[1,3],'b':[2,4]},
     1:{'a':[4,4],'b':[5,1]},
     2:{'a':[3,5],'b':[6,4]}
    }
df=pd.DataFrame(dct)
df=df.T
print(df)

   index                a^                b^
0      0  {'a': 1, 'b': 2}  {'a': 3, 'b': 4}
1      1  {'a': 4, 'b': 5}  {'a': 4, 'b': 1}
2      2  {'a': 3, 'b': 6}  {'a': 5, 'b': 4}
   index   a^   b^
0      0  1,3  2,4
1      1  4,4  5,1
2      2  3,5  6,4
        a       b
0  [1, 3]  [2, 4]
1  [4, 4]  [5, 1]
2  [3, 5]  [6, 4]

In [195]:
proposal1_amount=[1000,5000,1450]
proposal2_amount=[2000,5200,2400]
proposal3_amount=[3000,4000,1120]
accepted_proposal=[3,2,1]
df=pd.DataFrame({'proposal1_amount':proposal1_amount,'proposal2_amount':proposal2_amount,'proposal3_amount':proposal3_amount,'accepted_proposal':accepted_proposal})
df['accepted_proposal']=df['accepted_proposal'].astype(int)
df=df.assign(accepted_amount=df.apply(lambda row: row.iloc[row['accepted_proposal']-1],axis=1))    
print(df)

   proposal1_amount  proposal2_amount  proposal3_amount  accepted_proposal  \
0              1000              2000              3000                  3
1              5000              5200              4000                  2
2              1450              2400              1120                  1

   accepted_amount
0             3000
1             5200
2             1450

In [226]:
data = {'message_id':  ['1', '1', '1', '1', '2', '2', '2'],
        'to': ['one', 'two', 'three', 'four', 'five', 'six', 'five'],
        'idt': ['1','2','3','4','5','6','5']
        }

df = pd.DataFrame(data, columns = ['message_id','to','idt'])
print(df)
agg_func_text = {'to': set, 'idt': set}
df.sort_values(by=['message_id', 'to'])

grouped=df.groupby(['message_id']).agg(agg_func_text)

grouped['idt']=grouped['idt'].apply(lambda x: sorted(x))
dct={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
dct2={1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine'}
grouped['to']=grouped['to'].apply(lambda x: sorted([dct[item] for item in x]))
grouped['to']=grouped['to'].apply(lambda x: [dct2[item] for item in x])
print(grouped)

  message_id     to idt
0          1    one   1
1          1    two   2
2          1  three   3
3          1   four   4
4          2   five   5
5          2    six   6
6          2   five   5
                                 to           idt
message_id
1           [one, two, three, four]  [1, 2, 3, 4]
2                       [five, six]        [5, 6]

In [245]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
   index=dates, columns=['A', 'B', 'C', 'D'])
print(df)
dct={'A':0,'B':1,'C':2,'D':3}
columns=df.columns

print(df.iloc[:,dct['D']])

                   A         B         C         D
2000-01-01 -0.518791  0.165454 -1.673153 -1.999063
2000-01-02  0.493392  1.098605  1.934966 -2.845145
2000-01-03 -1.162298  0.285475 -0.804538  1.630997
2000-01-04 -0.439574  0.799949  0.354324  0.077876
2000-01-05  1.262300 -0.667952  0.469612  3.074817
2000-01-06  0.050587  1.281090 -1.585623 -0.738352
2000-01-07  1.153033  1.085618  0.918302 -0.053667
2000-01-08  0.185695  0.614663  0.267337 -1.332615
2000-01-01   -1.999063
2000-01-02   -2.845145
2000-01-03    1.630997
2000-01-04    0.077876
2000-01-05    3.074817
2000-01-06   -0.738352
2000-01-07   -0.053667
2000-01-08   -1.332615
Freq: D, Name: D, dtype: float64

In [249]:
a = np.arange(6).reshape((3, 2))
alst=np.array([[0, 1],
       [2, 3],
       [4, 5]])

In [315]:
import random
from random import sample

list1 = list(zip(sample(range(1, 100000), 20), sample(range(1, 80000), 20)))
list2 = list(zip(sample(range(1, 100000), 30), sample(range(1, 80000), 30)))

for item in list2:
    for index,item2 in enumerate(list1):
        if item!=item2:
            replace_tuple=random.choice(range(1, 100000)),random.choice(range(1, 100000))
            while replace_tuple in list1:
                replace_tuple=random.choice(range(1, 100000)),random.choice(range(1, 100000))
            list2[index]=replace_tuple
            #print(replace_tuple)

print("list1 test for uniqueness",len(list1)==len(set(list1)))            
print("list2 test for uniqueness",len(list2)==len(set(list2)))

import itertools
results=[*itertools.product(list1,list2)]
#print(results)

from collections import Counter
cntr=Counter(results)
if max(cntr.values())>1:
    print('failed')
else
    print('no duplicates')

[(53277, 37596), (83910, 66808), (94929, 21142), (48724, 53643), (20861, 54098), (19057, 75513), (58720, 16323), (48621, 39682), (12685, 74273), (72401, 14840), (20614, 71668), (14009, 53662), (40657, 75341), (84924, 64774), (54306, 18174), (29903, 16137), (18311, 6026), (28039, 14432), (6575, 62976), (15572, 42071)]
[(66021, 35303), (1793, 63922), (94072, 29813), (40243, 70182), (2692, 12451), (48626, 23827), (26562, 47413), (51015, 49881), (52728, 38858), (96332, 24338), (30985, 69576), (44960, 78934), (12790, 18887), (84010, 63608), (46834, 27146), (74023, 63978), (83790, 22732), (72239, 5876), (17718, 79839), (42445, 73421), (19299, 63887), (38592, 39855), (34893, 77858), (26714, 78114), (11871, 69227), (18017, 52327), (52647, 76783), (49501, 1189), (41606, 64481), (76758, 58258)]
list1 test for uniqueness True
list2 test for uniqueness True

In [24]:

rows=20
a,b = 0.5,1 
pop=list(zip(sample(range(1, 100000), rows),sample(range(1, 100000), rows)))
profit = sample(range(1, 100000), rows)
#print(pop,profit)
mycombined=list(zip(pop,profit))

#combine_list = [[ (i, j)  for j in b] for i in a]
combined_array = np.asarray(mycombined)

print(combined_array)

m = len (combined_array) 
it = 1500 
alpha = 0.01 
pop = [np.ones(m),pop] 
J=0
for i in range(1,m,1): 
    bpop=combined_array[i][0][0]
    apop=combined_array[i][0][1]
    aprofit=combined_array[i][1]
    temp=(bpop+apop-aprofit)**2
    J=J+temp

[[(72939, 51554) 68419]
 [(6074, 85492) 58792]
 [(13642, 15269) 47180]
 [(88896, 18572) 34796]
 [(48337, 62892) 6548]
 [(90263, 53512) 19790]
 [(30469, 12878) 64017]
 [(25355, 32477) 20383]
 [(23977, 6099) 50187]
 [(26744, 673) 58489]
 [(27756, 65889) 16479]
 [(23560, 59209) 75338]
 [(92235, 65186) 12410]
 [(96509, 97539) 55117]
 [(1351, 44663) 41890]
 [(10611, 39957) 75474]
 [(59237, 57633) 50472]
 [(40666, 28233) 469]
 [(27106, 27028) 91264]
 [(17341, 89503) 93675]]
1074135076
1407891437
6689111021
17647222782
33019503007
33446751907
34849179508
35253631829
36219101013
42173692569
42228912330
63257102451
82558925212
82575932588
83196241424
87604935828
92287600728
93666237628
93839660189

C:\Users\dnishimoto.BOISE\AppData\Local\Continuum\anaconda3\envs\deeplearning\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [37]:
alist = [(2, 13), (48, 59), (120, 131)]
#print(alist)
results=[np.arange(x[0],x[1]) for x in alist]
print(results)

[array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]), array([48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]), array([120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130])]